<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{gallery.position.vertical} == 'intext' ">
	<f:then>
		<div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')} ce-type-{assets.0.type} ce-cols-{gallery.count.columns}  ce-intext">
	</f:then>
	<f:else>
		<div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')} ce-type-{assets.0.type} ce-cols-{gallery.count.columns}">
	</f:else>
</f:if>

<f:if condition="{assets.0.type} == 3">
	<f:if condition="{poster}">
		<div class="poster">
			<f:image image="{poster.0}" width="{gallery.width}"/>
		</div>
	</f:if>
	<audio controls data-type="playlist" title="{assets.0.title}">
		<source type="{assets.0.mimeType}" src="{assets.0.publicUrl}"/>
	</audio>
	<ul class="playlist">
		<f:for each="{assets}" as="asset">
			<li data-mime="{asset.mimeType}" data-src="{asset.publicUrl}" data-title="{asset.title}">{asset.title}</li>
		</f:for>
	</ul>
</f:if>

<f:if condition="{assets.0.type} == 4">
	<f:if condition="{poster.0.uid}">
		<f:then>
			<f:media
				file="{assets.0}"
				title="{assets.0.title}"
				id="me{data.uid}"
				additionalConfig="{poster: '{f:uri.image(src: poster.0.uid, treatIdAsReference: 1)}'}"
			/>
		</f:then>
		<f:else>
			<f:media
				file="{assets.0}"
				title="{assets.0.title}"
				id="me{data.uid}"
			/>
		</f:else>
	</f:if>

	<ul class="playlist">
		<f:for each="{assets}" as="asset">
			<li data-mime="{asset.mimeType}" data-src="{asset.publicUrl}" data-title="{asset.title}">{asset.title}</li>
		</f:for>
	</ul>
</f:if>

</div>

</html>
