# Ignore temporary files (left by editors)
*~
*.bak
*.swp
#
# Ignore by common IDEs used directories/files
nbproject
*.idea
*.project
.buildpath
.project
.settings
.TemporaryItems
.webprj
.editorconfig

# Ignore build stuff
Build/bower_components/*
Build/node_modules/*

.cache
.sass-cache
.session

# Ignore composer stuff
bin/*
vendor/*
/.Build/
/.editorconfig
