@import "plyr/plyr";

.ce-gallery {
  &.ce-type-3 {
    $progress-height: 32px;
    .title {
      position: absolute;
      z-index: 99;
      overflow: hidden;
      height: $progress-height;
      line-height: $progress-height;
      padding: 0 10px;
      font-size: 14px;
      text-align: left;
      width: 100%;
      //border: 1px solid red;
      pointer-events: none;
    }

    .plyr{
      //width: 100% !important;
    }

    .plyr__progress--seek,
    .plyr__progress--played,
    .plyr__progress--buffer {
      &::-webkit-progress-value {
        border-radius: 2px;
      }
      &::-moz-progress-bar {
        border-radius: 2px;
      }
      &::-ms-fill {
        border-radius: 2px;
        border: none;
      }
      top: 4px;
      height: $progress-height;
      border-radius: 2px;
    }

    .plyr__progress {

    }

    .plyr__progress--seek {
      //top: -4px;
      &::-webkit-slider-thumb {
        opacity: 0;
        cursor: pointer;
      }
      &::-moz-range-thumb {
        opacity: 0;
        cursor: pointer;
      }
      &::-ms-fill-lower {
        background-color: lighten($plyr-color-main, 20);
        height: $progress-height;
        top: 0;
      }
    }
    .plyr__progress--played {
      color: lighten($plyr-color-main, 20);
      height: $progress-height;
      &::-ms-fill {
        border-radius: 2px;
        height: $progress-height;
        border: none;
      }
    }

    ul.playlist {
      display: none;
    }
  }

  &.ce-type-4 {
    .plyr__play-large {
      svg {
        width: 40px;
        height: 20px;
      }
    }
    .title {
      display: none;
      position: absolute;
      left: 0;
      bottom: 50px;
      z-index: 999;
      height: 26px;
      line-height: 26px;
      padding: 0 20px;
      font-size: 12px;
      width: 100%;
      background-color: rgba(222, 222, 222, .9);
    }

    ul.playlist {
      display: none;
    }
  }
}
