<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:tk="http://typo3.org/ns/ThomasK/Tkmedia/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:variable name="alternative"><f:if condition="{file.title} && !{file.alternative}"><f:then>{file.title}</f:then><f:else>{file.alternative}</f:else></f:if></f:variable>
<f:variable name="title"><f:if condition="!{file.title} && {file.alternative}"><f:then>{file.alternative}</f:then><f:else>{file.title}</f:else></f:if></f:variable>

<f:if condition="{file.extension} != 'svg'">
	<f:then>
		<img src="{tk:uri.image(image: file, width: dimensions.width, crop: false)}" alt="{alternative}" title="{title}" srcset="{f:render(section: 'srcset', arguments: _all)}" sizes="{f:render(section: 'sizes', arguments: _all)}"/>
	</f:then>
	<f:else>
		<f:image image="{file}" width=" {dimensions.width}" alt="{alternative}" title="{title}"/>
	</f:else>
</f:if>

<f:section name="srcset">
	<f:variable name="retina"><f:cObject typoscriptObjectPath="lib.math" data="{dimensions.width}*2"/></f:variable>
	<tk:uri.image image="{file}" width="{dimensions.width}" ratio="{ratio}" /> {dimensions.width}w, <tk:uri.image image="{file}" width="{retina}" ratio="{ratio}" /> {retina}w,
	<f:for each="{settings.srcset}" as="size" iteration="it">
		<tk:uri.image image="{file}" width="{size}" ratio="{ratio}" /> {size}w{f:if(condition: it.isLast, else: ', ')}
	</f:for></f:section>

<f:section name="sizes">(min-width: {settings.sizes.medium}) {dimensions.width}px, 100vw</f:section>

</html>
