<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:if condition="{gallery.rows}">
	<f:variable name="medium-grid-cols">
		medium-<f:cObject typoscriptObjectPath="lib.math" data="12/{data.imagecols}"/>
	</f:variable>

	<div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')}">
		<f:for each="{gallery.rows}" as="row">
			<div class="ce-row">
				<f:for each="{row.columns}" as="column">
					<f:if condition="{column.media}">
						<div class="ce-column column {medium-grid-cols}">
							<f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}"/>
						</div>
					</f:if>
				</f:for>
			</div>
		</f:for>
	</div>
</f:if>
</html>
