<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="ContentFooter"/>

<f:section name="content">

    <f:if condition="{gallery.position.noWrap} != 1">
        <f:render partial="Header" arguments="{_all}"/>
    </f:if>

    <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
        <f:switch expression="{data.tx_tkmedia_playertype}">
            <f:case value="0">
                <f:render section="default" arguments="{_all}"/>
            </f:case>
            <f:case value="20">
                <f:render section="layout-20" arguments="{_all}"/>
            </f:case>
            <f:case default="true">
                <f:render section="default" arguments="{_all}"/>
            </f:case>
        </f:switch>
    </div>

</f:section>

<f:section name="default">
    <f:if condition="{gallery.position.vertical} != 'below'">
        <f:render partial="MediaGallery" arguments="{_all}"/>
    </f:if>

    <f:if condition="{data.bodytext}">
        <f:then>
            <div class="ce-bodytext">
                <f:if condition="{gallery.position.noWrap}">
                    <f:render partial="Header" arguments="{_all}"/>
                </f:if>
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{gallery.position.noWrap}">
                <f:if condition="{data.header}">
                    <div class="ce-bodytext">
                        <f:render partial="Header" arguments="{_all}"/>
                    </div>
                </f:if>
            </f:if>
        </f:else>
    </f:if>

    <f:if condition="{gallery.position.vertical} == 'below'">
        <f:render partial="MediaGallery" arguments="{_all}"/>
    </f:if>
</f:section>

<f:section name="layout-20">
    <f:if condition="{gallery.position.vertical} != 'below'">
        <f:render partial="Playlist" arguments="{_all}"/>
    </f:if>

    <f:if condition="{data.bodytext}">
        <f:then>
            <div class="ce-bodytext">
                <f:if condition="{gallery.position.noWrap}">
                    <f:render partial="Header" arguments="{_all}"/>
                </f:if>
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{gallery.position.noWrap}">
                <f:if condition="{data.header}">
                    <div class="ce-bodytext">
                        <f:render partial="Header" arguments="{_all}"/>
                    </div>
                </f:if>
            </f:if>
        </f:else>
    </f:if>

    <f:if condition="{gallery.position.vertical} == 'below'">
        <f:render partial="Playlist" arguments="{_all}"/>
    </f:if>
</f:section>

</html>
